.main-hero {
    height: 100vh;
    width: 100%;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 100%);
        z-index: 2;
    }

    .slide-show {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .slide-show-item {
            width: 100%;
            height: 100%;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            background-position: center;
            transition: opacity 1s, transform 20s;

            &.animating {
                transform: scale(1.1);
            }

            &.hide {
                opacity: 0;
            }
            &.ss1 {
                background-image: url('/assets/images/hero/hero-1.jpg');
                transform-origin: center top;
                @media #{$ipad} {
                    background-image: url('/assets/images/hero/hero-1-movil.jpg');
                }
            }
            &.ss2 {
                background-image: url('/assets/images/hero/hero-2.jpg');
                transform-origin: center right;
                @media #{$ipad} {
                    background-image: url('/assets/images/hero/hero-2-movil.jpg');
                }
            }
            &.ss3 {
                background-image: url('/assets/images/hero/hero-3.jpg');
                transform-origin: center left;
                @media #{$ipad} {
                    background-image: url('/assets/images/hero/hero-3-movil.jpg');
                }
            }
            &.ss4 {
                background-image: url('/assets/images/hero/hero-4.jpg');
                transform-origin: center bottom;
                @media #{$ipad} {
                    background-image: url('/assets/images/hero/hero-4-movil.jpg');
                }
            }
            &.ss5 {
                background-image: url('/assets/images/hero/hero-5.jpg');
                transform-origin: center right;
                @media #{$ipad} {
                    background-image: url('/assets/images/hero/hero-5-movil.jpg');
                }
            }
            &.ss6 {
                background-image: url('/assets/images/hero/hero-6.jpg');
                transform-origin: center left;
                @media #{$ipad} {
                    background-image: url('/assets/images/hero/hero-6-movil.jpg');
                }
            }
        }
    }

    .content-hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        .gmw {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;

            @media #{$ipad} {
                align-items: center;
            }

            h1 {
                max-width: 661px;
                margin-bottom: 2rem;
                font-size: 3.25rem;

                @media #{$ipad} {
                    text-align: center;
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
            }

            h2 {
                @media #{$ipad} {
                    font-size: 12px;
                    line-height: 2;
                }
            }

            h1, h2 {
                color: white;
                @media #{$ipad} {
                    text-align: center;
                }
            }

            .main-button {
                margin-top: 4rem;
            }

            button {
                position: absolute;
                left: 50%;
                bottom: 4rem;
                transform: translateX(-50%);
                border-radius: 50%;
                border: 2px solid white;
                height: 48px;
                width: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                animation-duration: 2s;
                animation-name: downButton;
                animation-iteration-count: infinite;
                i {
                    color: white;
                    font-size: 1.5rem;
                    margin-top: 5px;
                }
            }
        }
    }
}

@keyframes downButton {
    0% {
        transform: translate(-50%, 0px);
    }
    10% {
        transform: translate(-50%, -10px);
    }
    20% {
        transform: translate(-50%, 0px);
    }
    
    100% {
        transform: translate(-50%, 0px);
    }
}