.nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: initial;
    z-index: 10;

    &.alt-nav {
        background-color: var(--black);
    }
    nav {
        padding: 3.5rem 0;
        @media #{$ipad} {
            padding: 1rem 0;
        }
        .gmw {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .burger-icon {
                i {
                    color: white;
                    font-size: 32px;
                }
            }

            .sub-wrapper {
                width: calc(100% - 140px);
                display: flex;
                justify-content: space-between;
                @media #{$ipad} {
                    position: fixed;
                    background-color:var(--black);
                    top: 0;
                    left: 0;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    flex-direction: column;
                    transition: all .2s;
                    top: -480px;
                }

                &.opened {
                    top: 0;
                }
            }

            .logo-mobile {
                padding: 1.5rem 0;
                img {
                    height: 72px;
                    width: auto;
                }

                .close-menu {
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                    i {
                        color: white;
                        font-size: 2rem;
                    }
                }
            }
            ul.links {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;

                @media #{$ipad} {
                    flex-direction: column;
                    padding: 2rem 0;
                    border: 1px solid white;
                    border-right: 0;
                    border-left: 0;
                    width: 100%;
                }
                li {
                    list-style: none;
                    margin-right: 3.5rem;
                    &:last-child {
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                    @media #{$ipad} {
                        margin-right: 0;
                        margin-bottom: 1.5rem;
                    }
                    a {
                        color: white;
                        text-transform: uppercase;
                        position: relative;
                        font-weight: $heavy;

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -4px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0%;
                            height: 1px;
                            background-color: white;
                            transition: all .2s;
                            opacity: 0;
                        }

                        &:hover {
                            &:after {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                @media #{$ipad} {
                    width: 100%;
                    padding: 1.5rem 0;
                }
                .social {
                    width: 40px;
                    height: 40px;
                    border: 1px solid white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1.5rem;
                    transition: all .2s;
                    cursor: pointer;

                    &:hover {
                        background-color: white;
                        i {
                            color: var(--black);
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                    i {
                        font-size: 20px;
                        color: white;
                        margin-top: 2px;
                        margin-right: 1px;
                    }
                }

                .select-language {
                    height: 40px;
                    border: 1px solid white;
                    border-radius: 10000px;
                    padding: 0 9px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    * {
                        color: white;
                    }

                    &:hover {
                        background-color: white;
                        span, .fa-globe, .fa-caret-down {
                            color: var(--black);
                        }
                    }

                    .fa-globe {
                        font-size: 20px;
                        margin-right: 0.5rem;
                    }
                    .fa-caret-down {
                        margin-left: 0.5rem;
                        font-size: 14px;
                    }

                    .options {
                        position: absolute;
                        top: calc( 100% + 8px);
                        right: 0;
                        width: 140px;
                        border: 1px solid white;
                        border-radius: 8px;
                        overflow: hidden;
                        display: none;
                        @media #{$ipad} {
                            background-color: var(--black);
                        }
                        a {
                            padding: 0.5rem 1rem;
                            text-align: left;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &:hover {
                                background-color: white;
                                color: var(--black);
                                i {
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}