// NOSOTROS
.page-hero.nosotros-hero {
    background-image: url('/assets/images/nosotros/nosotros-hero.jpg');
    @media #{$ipad} {
        background-image: url('/assets/images/nosotros/nosotros-hero-movil.jpg');
    }
}

.mision-wrapper {
    .gmw {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        @media #{$ipad} {
            flex-direction: column;
        }
        .info {
            width: 50%;
            margin-right: 4rem;
            @media #{$ipad} {
                width: 100%;
            }
            .main-button {
                margin-top: 4rem;
                @media #{$ipad} {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .slider-images {
            
        }
    }
}

.soluciones-wrapper {
    background-image: url('/assets/images/lines.jpg');
    @media #{$ipad} {
        background-image: none;
        background-color: #fff;
        padding: 0;
        overflow: initial;
    }

    .gmw {
        @media #{$ipad} {
            width: 100%;
        }
        .photo-text-container {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: stretch;
            box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);

            @media #{$ipad} {
                flex-direction: column-reverse;
            }

            .photo {
                background-image: url('/assets/images/portafolio/Avnet/avnet-13.jpeg');
                background-position: center;
                background-size: cover;
                width: 50%;
                height: auto;
                @media #{$ipad} {
                    width: 100%;
                    height: 500px;
                    margin-top: 3rem;
                }
            }
            .text {
                width: 50%;
                padding: 6rem 4rem;
                @media #{$ipad} {
                    width: 100%;
                    padding: 0 1rem;
                    padding-top: 4rem;
                }
            }
        }
    }
}

.elegirnos-wrapper {
    .gmw {
        .grid-icons {
            margin-top: 4rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;
            @media #{$ipad} {
                grid-template-columns: repeat(1, 1fr);
            }

            .grid-icon-item {
                background-color: #fff;
                padding: 4rem 2rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                box-shadow: 0px 3px 16px rgba(0,0,0,0.1);
                transition: all .2s;

                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0px 10px 24px rgba(0,0,0,0.05);
                    .icon-wrapper {
                        .normal {
                            display: none;
                        }
                        .hover {
                            display: block;
                        }
                    }
                }

                .icon-wrapper {
                    transition: all .2s;
                    .hover {
                        display: none;
                    }
                }
                h3.small {
                    max-width: 250px;
                }
                h3, p {
                    text-align: center;
                    margin-top: 1rem;
                }
                p {
                    line-height: 24px;
                }
            }
        }
    }
}

.proceso-wrapper {
    .gmw {
        .main-title {
            margin-bottom: 6rem;
            @media #{$ipad} {
                margin-bottom: 4rem;
            }
        }
        @media #{$ipad} {
            width: 100%;
        }
    }
}

.nueva-historia-wrapper {
    background-image: url('/assets/images/nosotros/call-to-action-banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 6rem 0;
    @media #{$ipad} {
        background-image: url('/assets/images/nosotros/call-to-action-banner-movil.jpg');
    }

    .gmw {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            color: white;
            font-size: 40px;
            line-height: 64px;
            margin-bottom: 40px;
            font-weight: 500;
            max-width: 450px;
            text-align: center;
            @media #{$ipad} {
                font-size: 2rem;
                line-height: 40px;
            }
        }
    }
}

.clientes-wrapper {
    .gmw {
        max-width: 1000px;
        @media #{$ipad} {
            width: 100%;
        }
    }
}