$ipad: "only screen and (max-width : 1080px)";
$iphone: "only screen and (max-width : 450px)";
$heavy: 700;
@import "site";
@import "animations";
@import "navbar";
@import "footer";
// @import "forms";
@import "home";
// @import "quienes";
// @import "contacto";
// @import "industrias";