$ipad: "only screen and (max-width : 1080px)";
$iphone: "only screen and (max-width : 450px)";
$heavy: 700;
@import "site";
@import "animations";
@import "navbar";
@import "footer";
@import "img-slider";
@import "aori.slider";
@import "custom-sliders";
// @import "forms";
@import "home";
@import "pages";
// @import "quienes";
// @import "contacto";
// @import "industrias";