Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST} ^schedia.mx$ [NC]
RewriteRule (.*) http://www.schedia.mx/$1 [R=301,L] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [L]
