#alert {
    width: 90%;
    max-width: 510px;
    border-left: 8px solid black;
    background-color: white;
    padding: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0px 3px 8px rgba(black, .2);
    animation: alertAnimation 0.5s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
    z-index: 100;

    @media #{$ipad} {
        bottom: 2rem;
        right: 2rem;
    }

    button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    &.success {
        background-color: var(--black);
        h2 {
            color: white;
            margin-bottom: 1rem;
        }
        p {
            color: white;
        }

        button {
            i {
                color: white;
            }
        }
    }

    &.error {
        border-left-color: var(--red-color);
        h2 {
            color: var(--red-color);
        }
    }
}

@keyframes alertAnimation {
    from {
        right: -530px;
    }
    to {
        right: 2rem;
    }
}